<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HI Weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
        <h1>Analysis of Hawaii Weather Data</h1>
        <p>  Using Python and SQLAlchemy, an analysis of weather data was preformed using data sets collected from Hawaii Weather Stations. </p>
        <p>  The following links present some of queries </p>
        <p>
                <ul>
                   <li> <strong>Date and Percipitation for Last 1 Year:</strong> <a href="http://127.0.0.1:5000/api/v1.0/precipitation" target="_blank"> /api/v1.0/precipitation</a></li> 
                    <br>
                    <li> <strong>List of Weather Stations:</strong> <a href="http://127.0.0.1:5000/api/v1.0/stations" target="_blank">api/v1.0/stations </a></li> 
                    <br>
                    <li> <strong>List of Observed Temperatures (ToBs) for Last 1 Year:</strong>  <a href="http://127.0.0.1:5000/api/v1.0/tobs" target="_blank"> /api/v1.0/tobs</a></li> 
                    <br>
                    <li> <strong>Minimum, Maximum, and Average Temperatures for a Given Start Date (YYYY-MM-DD):</strong>  <a href="http://127.0.0.1:5000/api/v1.0/<start>" target="_blank"> /api/v1.0/<start> </a></li> 
                    <br>
                    <li> <strong>Minimum, Maximum, and Average Temperatures for a Given Start Range (YYYY-MM-DD):</strong>  <a href="http://127.0.0.1:5000/api/v1.0/<start>/<end>" target="_blank"> /api/v1.0/<start>/<end> </a></li> 
                </ul>
            </p>
</body>
</html>